@import '../../styles/variables.scss';

:host {
  display: block;
}

core-toolbar {
  background-color: $main-color;
  color: #fff;
}

paper-tabs {
  height: 100%;
  paper-tab {
    min-width: 100px;
    &::shadow #ink {
      color: $accent-color;
    }
  }
}
@media screen and (min-width: 640px) {
  .content {
    padding: 16px;
  }
}

