@import "../../styles/variables";

:host {
  display: block;
}

.card {
  background-color: #fff;

  paper-fab {
    background-color: $accent-color;
    //position: static;
    right: 16px;
    top: -28px;
  }

  nav {
    paper-icon-button {
      color: $grey-color;
    }
    paper-tabs {
      &::shadow #selectionBar {
        background-color: $accent-color;
      }
      paper-tab {
        &::shadow #ink {
          color: $accent-color;
        }
      }
    }
  }

  .avatar {
    border-radius: 100%;
  }

  .info {
    padding-left: 56px;
  }

  section {
    border-bottom: 1px solid $background-color;

    &.header {
      padding: 0 56px 28px;
    }
  }
}
